<div class="flex">
  <mat-card class="card-form">
    <mat-card-title>Cadastro de Usuários</mat-card-title>
    <mat-card-content>
      <!-- 
        - Informar que o formulário será validado pelo Template Driven Forms
        - ngForm informa que o formulario utilizara o metodo de validação
        do Template Driven Forms
        - #userForm '#' é obrigatório o nome pode ser qualquer um
        - O ngSubmit é o mais indicado para formulários reativos
       -->
      <form action="#" #userForm="ngForm" (ngSubmit)="enviarForm()">
        <mat-form-field appearance="outline">
            <mat-label>Nome</mat-label>
            <!-- ngModel observa as alterações e envia
            e dentro [()]  ele manda para a propriedade
              dadosUsuario.nome-->
            <input 
            type="text" 
            matInput 
            [(ngModel)]="dadosUsuario.nome" 
            name="nome"
            required
            minlength="4"          
            #inputNome="ngModel"
            >
            <!-- 
              - #inputNome '#' é obrigatório o nome pode ser qualquer um
              - O ngModel utiliza o metodo de validação do Template Driven Forms
              para este input em específico
             -->
             <mat-error>
              <!-- 
                o método getError informa se o problema de validação
                está vindo de algum atributo de validação em especifivo
               -->
                <span *ngIf="inputNome.getError('required')">Este campo é obrigatório</span>
                <span *ngIf="inputNome.getError('minlength')">Este campo precisa ter 4 caracteres, no mínimo</span>
             </mat-error>
             <!-- o mat-error apresenta esta mensagem enquento for inválida
             -->
        </mat-form-field>
        <mat-form-field appearance="outline">                  
            <mat-label>Sobrebrenome</mat-label>
            <input 
            type="text" 
            matInput 
            [(ngModel)]="dadosUsuario.sobrenome" 
            name="sobrenome"
            required
            minlength = "4"
            #inputSobrenome="ngModel"
            >
         </mat-form-field>
         <mat-form-field appearance="outline">
            <mat-label>E-mail</mat-label>
            <input 
            type="email" 
            matInput 
            [(ngModel)]="dadosUsuario.email" 
            name="email"
            required
            email
            #inputEmail="ngModel"
            >
         </mat-form-field>
         <mat-form-field appearance="outline">
            <mat-label>Senha</mat-label>
            <input 
            type="password" 
            matInput 
            [(ngModel)]="dadosUsuario.senha" 
            name="senha"
            required
            minlength="8"
            #inputSenha="ngModel"
            >
          </mat-form-field>
          <button 
          type="submit" 
          mat-raised-button 
          color="primary"
          [disabled]="userForm.invalid"
          >Cadastrar</button>
          <!-- [disable] foi usado o properity binding para 
            mostrar mudanças instantâneamente-->
      </form>
    </mat-card-content>
  </mat-card>
</div>
<app-reactive></app-reactive>
