<app-header></app-header>
<div class="container">
    <h1>Editar Livro</h1>
    <form #formEdit="ngForm">
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Livro</mat-label>
            <input type="text" matInput placeholder="Livro" name="livro" [(ngModel)]="emprestimo.idLivro" required>
        </mat-form-field>

        <div class="double-width">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Leitor</mat-label>
                <input type="text" matInput placeholder="Leitor" name="leitor" [(ngModel)]="emprestimo.leitor" required>
            </mat-form-field>
        </div>

        <div>   
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>E-mail</mat-label>
                <input type="email" matInput placeholder="E-mail" name="email" [(ngModel)]="emprestimo.email" required>
            </mat-form-field>
        </div>

        <div class="double-width">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Telefone</mat-label>
                <input type="text" matInput placeholder="Telefone" name="telefone" [(ngModel)]="emprestimo.telefone" required>
            </mat-form-field>
        </div>        

        <div class="double-width">
            <button class="full-width btn-submit" mat-raised-button (click)="updateEmprestimo(formEdit)">Editar</button>
            <a class="full-width btn-close" mat-raised-button routerLink="/dashboard">Cancelar</a>
        </div>
    </form>
</div>